.resource-component {
  display: flex;
  flex-direction: column;
  background: url(../images/CORONA-virus-in-pink.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment:  fixed;
  height: 100%;
  min-height: 100vh;
}

.resource {
  width: 60%;
  margin: auto;

}

.resource-component h1 {
  color: white;
  font-size: 3rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.resource h2 {
  display: inline;
  background-color:  rgba(0,0,0,0.7);
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.resource-component h1{
  text-align: center;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
}

.resource-list {
  border-radius: 20px;
  padding: 1em;
  background-color: #CDC;
  box-shadow: rgba(0,0,0,0.7) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 50px;
  margin-bottom: 3rem;
}

.resource-list a {
  text-decoration: none;
  color: black;
  font-size: 110%;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  cursor: pointer;
}

.resource-list a:hover {
  font-size: 125%;
  color: #ccffcc;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.856);
}

.resource-list li {
  line-height: 2rem;
  margin-left: 1.3rem;
}