
.results {
  display: flex;
  flex-direction: column;
  background: url(../images/CORONA-virus-in-pink.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment:  fixed;
  height: 100%;
  min-height: 100vh;
}

.result-header {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  padding: 10px;
  width: 44%;
  border-radius: 20px;
  background-color: rgba(152, 218, 189, .9);
  box-shadow: rgba(0,0,0,0.7) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 50px;
}

.question-box {
  background-color: #98DABD;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  width: 60%;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,0.7) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 50px;
}

.wrong-answer{
  background-color: #ff8080;
}

.bold {
  font-weight: bold;
}

.question{
  font-size: 2rem;
  margin-bottom: 10px;
}

.reason {
  font-size: 1rem;
  margin-bottom: 20px;
}

.stats{
  font-weight: bold;
}

button{
  background-color: #ccffcc;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-button {
  border-radius: 40px;
  padding: 5px 20px 5px 20px;
  font-size: 2rem;
  height: default;
  width: default;
  cursor: pointer;
}

@media screen and (max-width: 500px){

  .results {
    min-height: 100vh;
    height: auto;
  }

  .result-header {
    width: 90%;
    font-size: 3.5rem;
  }
}