* { 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
}

html {
    margin: 0;
}

body { 
    margin: 0; 
}

.menu-button {
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    font-size: 2rem;
    height: default;
    width: default;
    cursor: pointer;
  }
